{% extends 'base.html.twig' %}

{% block title %}Univers index{% endblock %}

{% block body %}
    <h1>Univers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre de galaxie</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for univer in univers %}
            <tr>
                <td>{{ univer.id }}</td>
                <td>{{ univer.nbGalaxie }}</td>
                <td>{{ univer.nom }}</td>
                <td>
                    <a href="{{ path('univers_show', {'id': univer.id}) }}"><button type="button" class="btn btn-primary">show</button></a>
                    <a href="{{ path('univers_edit', {'id': univer.id}) }}"><button type="button" class="btn btn-success">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('univers_new') }}"><button type="button" class="btn btn-info">Create new</button></a>
{% endblock %}
